/*header*/
.header{
	padding-left: 15px;
	padding-right:10px;
	margin-left: 10px;
	margin-right:10px;
	
}

.header-img{
	height:117px;
	width:115px;
	border-radius:50%;
	
}



/*current*/
.container {
  color: #333;
  text-align: center;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

/*portfolio*/
.seshat-app, .jrdev-app,.token-app, .giphy-app,.jewel-app, .train-app{
  height:55px;
  width:65px;
}

.portfolio{
  padding-left: 10px;
  
}


/*contact*/